### macOS ###

# General
.DS_Store
.AppleDouble
.LSOverride

### Xcode ###

## User settings
xcuserdata/
*.xcuserstate

### Swift ###

/.build
/.build-ubuntu
/Packages
Package.pins
Package.resolved
/config.json
/spec.json
./config/localdev-config.json

### Keys ###
*.pem
